footer.footer 
    .container 
        .wrapfoter
            ul.footerlist 
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты 
            ul.footerlist 
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты 
            ul.footerlist 
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты
                li.footeritem 
                    a.linkfooter(href="#")
                        |контакты 