header.header
    nav.nav 
        li.nav-item 
            a(href="#") 
                |Новости
        li.nav-item 
            a(href="#") 
                |Секреты
        li.nav-item.logo 
            img(src="./img/header/logo.jpg", alt="logo")
        li.nav-item 
            a(href="#") 
                |Билды
        li.nav-item 
            a(href="#") 
                |Администрация
    .container 
        .slid-img 
            .img 
                //- img(src="./img/header/slider/stalker.jpg", alt="stalker")
            .img 
                //- img(src="./img/header/slider/operator.jpg", alt="operator")
            .img 
                //- img(src="./img/header/slider/emisar.jpg", alt="emisar")