header.header
    nav.nav 
        li.nav-item 
            a(href="#news") 
                |Новости
        li.nav-item 
            a(href="#") 
                |Видео
        li.nav-item.logo 
            img(src="./img/header/logo.jpg", alt="logo")
        li.nav-item 
            a(href="#") 
                |Билды
        li.nav-item 
            a(href="#") 
                |Контакты
    .container 
            .imgheader
                img(class="sliimg" src="./img/header/slider/stalker.jpg", alt="stalker")
                img(class="sliimg" src="./img/header/slider/operator.jpg", alt="operator")
                img(class="sliimg" src="./img/header/slider/emisar.jpg", alt="emisar")
                ul.lisheaderimg
                    li.cirl
                    li.cirl
                    li.cirl