section.news#news 
    .container 
        h2.title 
            |Новости
        .newscontent 
            ul.newslist 
                li.newsitem 
                    h6.titlnews 
                        |Lorem ipsum dolor sit
                    p.newtext 
                        |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus reprehenderit rem in nesciunt aspernatur magnam. Recusandae fuga hic doloremque mollitia ducimus quisquam cumque culpa! Quibusdam saepe soluta at pariatur quae.
                li.newsitem 
                h6.titlnews 
                    |Lorem ipsum dolor sit
                p.newtext 
                    |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus reprehenderit rem in nesciunt aspernatur magnam. Recusandae fuga hic doloremque mollitia ducimus quisquam cumque culpa! Quibusdam saepe soluta at pariatur quae.
                li.newsitem 
                h6.titlnews 
                    |Lorem ipsum dolor sit
                p.newtext 
                    |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus reprehenderit rem in nesciunt aspernatur magnam. Recusandae fuga hic doloremque mollitia ducimus quisquam cumque culpa! Quibusdam saepe soluta at pariatur quae.