.header{
    padding-bottom: 100px;
    width: 100%;
    min-height: 100vh;
    background: rgb(37, 35, 35);
    background-image: url('./../img/header/warf.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.nav{
    margin-bottom: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
}
.nav-item{
    margin-right: 4rem;
    &:last-child{
        margin-right: 0;
    }
    a{
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--white);
        transition: .4s;
    }
    &:hover{
        a{
            color: var(--white);
            text-shadow: 0 0 1px #FFF,
             0 0 5px #FFF, 0 0 7px #FFF,
              0 0 12px #411494, 0 0 15px #411494,
               0 0 17px #411494, 0 0 30px #411494,
                0 0 75px #411494;
        }
    }
}
.logo{
    width: 5rem;
    height: 5rem;
    
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: .2rem solid var(--white);
        transition: .4s;
    }
    &:hover{
        transition: .4s;
        transform: scale(1.1);
    }
}
.imgheader{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: 300px;
    transform: skewX(-6deg);
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
    }
}
.sliactiv{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slidhide{
    position: absolute;
    right: 1000%;
    top: 0;
}
.lisheaderimg{
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.cirl{
    margin-right: .3rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: .2rem solid var(--white);
    &:last-child{margin-right: 0;}
}
.cirlactiv{
    background:var(--white);
    box-shadow: 0 0 1px #FFF,
             0 0 5px #FFF, 0 0 7px #FFF,
              0 0 12px #411494, 0 0 15px #411494,
               0 0 17px #411494, 0 0 30px #411494,
                0 0 75px #411494;
                border: .2rem solid rgba(0, 0, 0, .2);
}