.header{
    padding-bottom: 100px;
    width: 100%;
    min-height: 100vh;
    background: rgb(37, 35, 35);
    background-image: url('./../img/header/warf.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.nav{
    margin-bottom: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
}
.nav-item{
    margin-right: 4rem;
    &:last-child{
        margin-right: 0;
    }
    a{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--navlink);
        transition: .4s;
    }
    &:hover{
        a{
            color: var(--white);
            text-shadow: 0 0 1px #FFF,
             0 0 5px #FFF, 0 0 7px #FFF,
              0 0 12px #49ff18, 0 0 15px #49FF18,
               0 0 17px #49FF18, 0 0 30px #49FF18,
                0 0 75px #49ff18;
        }
    }
}
.logo{
    width: 5rem;
    height: 5rem;
    
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: .2rem solid var(--white);
        transition: .4s;
    }
    &:hover{
        transition: .4s;
        transform: scale(1.1);
    }
}
.slid-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: 300px;
    transform: skewX(-6deg);
    overflow: hidden;
}
.img{
    width: 200px;
    height: inherit;
    overflow: hidden;
    margin-right: 1rem;
    transition: 1s;
    margin: 0;
    padding: 0;
    background-image: url("./../img/header/slider/operator.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:first-child{
        background-image: url("./../img/header/slider/stalker.jpg");
    }
    &:last-child{
        background-image: url("./../img/header/slider/emisar.jpg");
    }

    &:hover{
        transition: 5s;
        position: absolute;
        width: 100%;
        z-index: 100;
        // img{
        //     transition: 5s;
        //     width: 100%;
            
        // }
    }
}